/* declare font */
@font-face {
  font-family: 'Bison';
  src: url('/fonts/Bison.woff2') format('woff2'),
       url('/fonts/Bison.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1024px) {
  main, header {
    flex-direction: row !important;
  }
  .name {
    flex: 1;
    border-right: 2px solid #333;
    border-bottom: 0;
  }
}

body {
  font-family: Bison, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  background: #fff;
  border-bottom: 2px solid #333;
  text-align: center;
}

h1, p {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

main {
  min-height: calc(100vh - 100px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  flex: 1;
  border-bottom: 2px solid #333;
  z-index: 10;
  position: relative;
}

.text {
  background: #fff;
  z-index: 0;
  flex: 1;
}

.card-before {
  position: absolute;
  border-radius: 14px;
  display: block;
  top: 10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  z-index: -1;
}

.card img {
  border-radius: 14px;
  display: block;
  width: 50%;
  max-width: 250px;
  margin: auto;
}

.card {
  position: relative;
  background: #FFF;
  border: 2px solid #333;
  border-radius: 14px;
  display: block;
  width: 80%;
  max-width: 673.15px;
  margin: auto;
  margin-top: 100px ;
}

.birth-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.birth-picture img {
  width: 100%;
  animation: spin 10s infinite linear; 
}

.birth-picture::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: -10px 10px 0 #000;
  border-radius: 50%;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.star, .star2, .star3 {
  position: absolute;
  animation: moveStar 4s infinite ease-in-out;
  width: 50px;
  height: 50px;
  z-index: 0;
}

.star {
  top: 5%;
  left: 10%;
  animation-delay: 1s;
}

.star2 {
  top: 25%;
  right: 15%;
  animation-delay: 2s;
}

.star3 {
  top: 60%;
  left: 15%;
  animation-delay: 3s;
}

@keyframes moveStar {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

